<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.cam.cl.covid19sounds">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:name="uk.ac.cam.cl.covid19sounds.MainApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <activity
            android:name="uk.ac.cam.cl.covid19sounds.activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="uk.ac.cam.cl.covid19sounds.notifications.MorningMessager"
            android:exported="false">
            <intent-filter>
                <action android:name="MORNING_MESSAGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.LocationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="uk.ac.cam.cl.covid19sounds.activities.SettingsActivity"
            android:parentActivityName="uk.ac.cam.cl.covid19sounds.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="uk.ac.cam.cl.covid19sounds.activities.QuestionnaireActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="uk.ac.cam.cl.covid19sounds.activities.MainActivity"
            tools:ignore="LockedOrientationActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="xxxxx"/>

        <service
            android:name="uk.ac.cam.cl.covid19sounds.transfer.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="uk.ac.cam.cl.covid19sounds.transfer.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name="uk.ac.cam.cl.covid19sounds.transfer.StubProvider"
            android:authorities="uk.ac.cam.cl.covid19sounds.provider"
            android:label="COVID-19 Sounds"
            android:exported="false"
            android:multiprocess="true"
            android:syncable="true" />
    </application>
</manifest>
